.idea/
../.DS_Store
.DS_Store

# training files - pretty large
*.csv
.pkl

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


node_modules/
.vscode
bin/
include/
pip-selfcheck.json

app/backend/static/bundle.js
