.form {
    display: grid;
    width: 50%;
    align-items: center;
}
.input {
    font-size: 0.8rem;
    line-height: 2.0rem;
    padding: 10px 20px;
    margin: 30px 0px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-family: inherit;
    color: #ffde59;
    text-align: center;
    background-color: ivory;
}

::placeholder {
    color: #ffde59;
}

.button {
    border: 3px solid #fff;
    background-color: #fff;
    color: #ffde59;
    cursor: pointer;
    padding: 20px 40px;
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 1px;
    border-radius: 10px;
}

.button :hover {
    background-color: #f1f1f1;
}
